.loader {
  /* width: 80%; */
  height: 56px;
  margin: 40px auto;
  /* border-radius: 12px; */
  /* background: #e4e4e4; */
  border: 1px solid #b5b5b5;
  margin-top: 20px;
  display: flex;
  box-sizing: border-box;
  /* padding: 0px 24px; */
  max-width: 1154px;
}

.loader-fill {
  flex: 1;
  /* border-radius: 12px 0 0 12px; */
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: right;
}

p {
  text-align: right;
  padding-right: 13px;
  font-size: 0.875rem;
  top: 50%;
  margin-top: 16px;
}
