body {
  overflow-x: hidden;
  background: #ffffff;
  margin: 0;
  font-family: 'azo-sans-web', Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.farm-container {
  margin: initial !important;
  margin-bottom: 48px !important; 
}

a {
  color: rgba(229,147,16,1);
}